@media (hover: hover) {
    .list:hover {
        color: black;
        transition: 0.3s;
    }

    .input:hover + .label .img {
        height: auto;
        width: 100%;
    
        transform: scale(1);
    }

    .item:hover .plus {
        transform: rotate(45deg);
        display: block;
        opacity: 1;
    }
    
    .list:hover .plus {
        display: block;
        opacity: 1; 
    }
  }

html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 3rem;
    font-weight: 700;
}

body {
    background-color: #f6f6ed;
}

.container {
    max-width: 50vw;
    margin: 0 auto;
}

.mem-title {
    font-size: 1rem;
}

.title {
    margin: 0.3rem 0;
}

.list {
    display: flex;
    flex-direction: column;

    color: #1e5cd1;
    transition: 0.3s;
}

.label {
    cursor: pointer;
}

.item:active {
    color: #1e5cd1;
    opacity: 0.8;
  }

.item {
    display: flex;
    justify-content: space-between;

    border-top: 0.06rem solid #000;
}

/* mem */
.input {
	display: none;
}

.label {
    width: 100%;
    padding: 0.5rem 0;
}

.plus {
    width: 1rem;
    height: 1rem;
    background-image: url("assets/plus.svg");
    background-position: center;
    background-size: 1.1rem;
    background-repeat: no-repeat;

    opacity: 0;
    transition: 0.5s;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.img {
    display: block;

	height: 0;
	overflow: hidden;

    transform: scale(0);
	transition-duration: 0.6s;
}

.input:checked + .label .img {
	height: auto;
    width: 100%;
    text-align: center;

    transform: scale(1);
}

.input:checked + .label .plus {
    transform: rotate(45deg);
    display: block;
    opacity: 1;
}